*fde.tar
waydroidlist
system.img
systemimg
vendor.img
vendorimg
*tigervnc.tar.gz
*waydroid_image.tar
*waydroid.tar
*gbinder-python-1.0.0.tar.gz
*.debhelper
debian/openfde-*/debian
debian/openfde_*.debian.tar.xz
debian/openfde_*.dsc
debian/openfde_*.buildinfo
debian/openfde_*.changes
debian/openfde_*.deb
debian/openfde_*tar.xz
debian/openfde-*/debian/control
debian/openfde-*/gbinder-python*

