debian/openfde*/debian/openfde/usr/
debian/openfde*/debian/files
debian/openfde*/debian/openfde/DEBIAN/md5sums
debian/openfde*/debian/openfde.debhelper.log
*fde.tar
waydroidlist
system.img
systemimg
vendor.img
vendorimg
*tigervnc.tar.gz
*waydroid_image.tar
*waydroid.tar
debian/openfde*.debian.tar.xz
debian/openfde*.dsc
debian/openfde*.buildinfo
debian/openfde*.changes
debian/openfde*.deb
debian/openfde*tar.xz
debian/openfde*/debian/control
debian/openfde*/gbinder-python*
debian/realdebian/gbinder-python*
debian/realdebian/.debhelper/generated

