Package: openfde
Version: 1.1.1-20240326kylin1ubuntu1
Architecture: arm64
Maintainer: openfde <openfde@openfde>
Installed-Size: 908797
Depends: tigervnc-standalone-server, libibus-1.0-5, ibus, libx11-dev, lxc, fde-binder-dkms, gnome-settings-daemon-common, gsettings-desktop-schemas (>= 3.33.0), libmutter-6-0, i3-wm, ddcutil, python3-pip
Recommends: tigervnc-common, tigervnc-viewer, mutter, konsole
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: openfde.com
Description: Fusion Desktop Environment
