Package: openfde
Version: 1.0.6-20240112ubuntu1
Architecture: arm64
Maintainer: openfde <openfde@openfde>
Installed-Size: 852018
Recommends: tigervnc-standalone-server, libibus-1.0-5, ibus, libx11-dev, tigervnc-common, tigervnc-viewer, lxc, i3-wm, mutter, konsole, python3-pip
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: openfde.com
Description: Fusion Desktop Environment
