Package: openfde
Version: 1.3.2-20241126kylin5
Architecture: arm64
Maintainer: openfde <openfde@openfde>
Installed-Size: 903468
Depends: tigervnc-standalone-server, libibus-1.0-5, libmutter-6-0, ibus, libx11-dev, lxc, wmctrl, zenity, fde-binder-dkms, libxrender1, gnome-settings-daemon-common, gsettings-desktop-schemas (>= 3.33.0), i3-wm, wl-clipboard, xclip, fdenavi, ddcutil, python3-pip
Recommends: tigervnc-common, tigervnc-viewer, mutter
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: openfde.com
Description: Fusion Desktop Environment
