Package: openfde14
Version: 2.0.4-20251225kylin2
Architecture: arm64
Maintainer: openfde <openfde@openfde>
Installed-Size: 1400779
Depends: lxc, wmctrl, zenity, fde-binder-dkms, gnome-settings-daemon-common, gsettings-desktop-schemas (>= 3.33.0), wl-clipboard, xclip, fdenavi, ddcutil, python3-pip
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: openfde.com
Description: Fusion Desktop Environment
